/*/RemoteSystemsTempFiles
/*/.*
/*/.recommenders
/*/.settings
/*/*/.settings
/*/.project
/*/*/.project
/*/.classpath
/*/*/.classpath
/*/target
/*/*/target
/*/clientdb.xml
/*/Servers
/*/*/.settings
/*/*/*/.settings
/*/*/.project
/*/*/*/.project
/*/*/.classpath
/*/*/*/.classpath
/*/*/target
/*/*/*/target
/*/*/bin
/*/*/*/bin
/*/*/*/.idea
/*/*/.idea
/*/.idea
/*/*/*/*.iml
/*/*/*.iml
/*/*.iml
/*/examples
*.log


