lombok.var.flagUsage=ALLOW
#为空时抛出异常，默认为NullPointerException
lombok.nonNull.exceptionType=IllegalArgumentException
#lombok.nonNull.flagUsage=ERROR
#lombok.accessors.chain=true
#lombok.accessors.fluent=true
#lombok.accessors.prefix +=wt
lombok.getter.noIsPrefix = true
lombok.anyConstructor.suppressConstructorProperties = true
